



/* colors used:
Primaary Color:#365B73
Secondary Color:#888C6C
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #888c6c;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-bottom: 3px solid #4a4a4a;
}
.logo {
  max-width: 250px;
  text-align: center;
}

/* Navigation */

nav > ul > li > a:visited {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}


body { 
  background-color: #fcfcfc;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #252525;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  }





/* Layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center; /* Centers text */
}
.center {
  text-align: center;
}



/*images*/
img {
    width: 100%;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }






  /*hyperlinks*/
  a:visited { /* visited link */
    color: #365B73;
  }
  
  a:hover,
  a:focus {
    color: #639CBF;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:active { /* selected link */
    color: #1E3E59;
  }


  /*Border Pop Button-PRIMARY*/ 
  
  
  .btn:visited {
    display: inline-block;
    color: white;
  }

  .btn {
  background-color: var(--background-color);
  color: white;
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  margin: 1rem;

  --background-color: #365b73;
  --border-size: 2px;
}

.btn.btn-border-pop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid var(--background-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
}

/* SECONDARY BUTTON */

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #888C6C;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: .5em 1em;
  border-radius: 3px;
  border-bottom: none; /* width of the border, type, color */
  transition: 0.2s opacity;

}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}