html{
  scroll-behavior: smooth;
}



/* colors used:
Primaary Color:#fab27a
Secondary Color:#676f9d
*/


* {
  box-sizing: border-box;
}

/* Header */

header {
  background-color: #191919;
  padding: 10px 0 4px;
  margin: 0;
  position: relative;
}

header {
    box-shadow: 0px 6px 4px -1px rgba(0,0,0,0.2); 
   
    }

a{ 
  text-decoration: none;
}

.logo {
  max-width: 200px;
  text-align: center;
}

/* Navigation */

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a:visited {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;

}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2.6485px;
  font-size: 25px;
  padding-right: 0;
  color: white;

}

.navtoggle.responsive li  {
  display: block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  font-family: 'Lato', sans-serif;
}

#hero h1 {
  font-family: 'Noto Sans', sans-serif;
}

.container h1 {
  font-family: 'Noto Sans', sans-serif;

}

body { 
  background-color: #292929;
  font-family: 'Noto Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(243, 242, 242);
  font-style: normal;
}

nav ul li a.work i {
 padding-right: 5px;
}

nav ul li a.work:hover {
  color: #BFBFBF;
  text-decoration: none;
} 

nav ul li a.work:hover i {
  color: #BFBFBF; 

}

nav ul li a.about i {
  padding-right: 5px;
 }

 nav ul li a.about:hover {
  color: #BFBFBF;
  text-decoration: none;
} 

nav ul li a.about:hover i {
  color: #BFBFBF; 

}
 
 nav ul li a.contact i {
  padding-right: 5px;
 }

 nav ul li a.contact:hover {
  color: #BFBFBF;
  text-decoration: none;
} 

nav ul li a.contact:hover i {
  color: #BFBFBF; 

}
 

/* Footer*/

#contact {
  text-align: center;
  background-color: #191919;
  padding: 20px 0;
 
}

#contact {
  color: rgb(243, 242, 242);
}

.social svg {
 justify-content: center;
 margin: 8px;
 display: inline-block;
 margin-top: 20px;
}

.social svg :hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
 
}

/* Project: 1 Pet Patrol */
.shortcut a {
  text-decoration: none;
  position: relative;
}

.shortcut a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
}

.shortcut a {
  text-align: left;
  }
  
  #testerfb h4 {
    color:  rgb(243, 242, 242);
  }
  
  #competitor h4 {
    color: rgb(243, 242, 242);
    font-weight: bold;
  }

/* Layout Styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero h1, h4 {
  text-align: center;/* Centers text */
  color: rgb(243, 242, 242);
  font-weight: bold;
}

#hero {
  background-color: #313131;
  padding: 250px 0;
  display: block;
  width: 100%;
  text-align: center;
  }

#hero span {
  display: block;
}

#my-work h2 {
  text-align: center;
}

.center {
  text-align: center;
} 

#projectpage h1, h2 {
  text-align: center;
}

.container h1 {
  text-align: center;
}
/* About Page */
#about-photo {
  max-width: 400px;

}

.firstrow img {
  max-width: 400px;
  float: left;
}


.firstrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}

.textbox1 {
  text-align: left;
  padding: 40px;

}

.sec-row img {
  max-width: 400px;
  float: right;
}

.sec-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.textbox2 {
 padding: 40px;
}

.textbox3 {
  text-align: center;
  padding-top: 60px;
}

.skill-row {
  justify-content: center;
  padding-top: 40px;
}



#aboutme h2 {
  text-align: center;
}

#aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.resume {
  text-align: center;
}

/*images*/
img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  
  .container picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

/* PRIMARY BUTTON */

.ebutton {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #BFBFBF;
  color: #292929; /* needed to override the default link color */
  font-weight: 400;
  padding: .5em 1em;
  border-radius: 3px;
  border-bottom: none; /* width of the border, type, color */
  transition: 0.2s opacity;
  font-family: 'Lato', sans-serif;
}

.ebutton:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

a:hover,
a:focus {
  color: white;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.ebutton:hover {
  opacity: 0.8;
}

.ebutton {
  margin-right: 10px;
}
/* Jump to top Button */

.jumptotop {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #BFBFBF;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  border-radius: 6px;
}


/* CSS-Animations */
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}


.sun {
  animation: 4s color-change infinite alternate linear;
}

.berlin-animation {
  width: 100%;
  max-width: 100%;
  height: auto;
  float: left;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  
  header {
    text-align: unset;
    padding: 16px 0 16px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 16px;
  }
  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  #about-page h3 { margin-top: 0;}

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 0;
  }

  .logo {
    max-width: 200px;
  }


}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  
  .col-lg-7 {width: 58.33%;}
  
  .col-lg-5 {width: 41.66%;}
  
  header {
    text-align: unset;
    padding: 16px 0 16px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 16px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  #about-page h3 { margin-top: 0;}

  .container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }

.logo {
  max-width: 200px;
}

}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}

